textarea {
    min-height: 400px;
}

#emails-view {
    display: flex;

}

.email-lists {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.email-lists:hover {
    border: 1px solid #aaa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.email-sender {
    flex: 1; 
    font-weight: bold;
}

.email-subject {
    flex: 2; 
    padding: 0 10px;
}

.email-timestamp {
    flex: 1;
    text-align: right;
    color: gray;
    font-size: 0.9em;
}

