textarea {
    min-height: 400px;
}

#emails-view {
    display: flex;

}

.email-lists {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid #ddd;
  margin-bottom: 5px;
}

.read {
    background-color: rgb(235, 235, 235);
}

.email-lists:hover {
    border: 2px solid #aaa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.email-addresses {
    flex: 1;
    flex-direction: column; 
}

.email-subject {
    flex: 2; 
    padding: 0 10px;
}

.email-timestamp {
    flex: 1;
    text-align: right;
    color: gray;
    font-size: 0.9em;
}

.email-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-body {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.email-body:hover {
    border: 2px solid #aaa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
